<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blackharry.androidcleaner">

    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="29" />
    <!-- Android 13及以上需要的细分存储权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- 通话记录权限 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.blackharry.androidcleaner.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="${appIcon}"
        android:roundIcon="${appIconRound}"
        android:label="${appName}"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.AndroidCleaner"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recordings.data.DatabaseDebugActivity"
            android:label="@string/debug_title"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".debug.DatabaseDebugActivity"
            android:exported="false"
            android:label="@string/debug_title"
            android:theme="@style/Theme.DatabaseDebug"/>
    </application>

</manifest>